@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: weight; */
  font-style: normal;
  background-color: #f5f5f7;
}
head {
  background-color: #f5f5f7;
}
main {
  margin: 0;
  padding: 0;
}
.logo {
  color: black;
  padding-left: 15px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: grey;
}
.font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.navigation {
  display: flex;
  height: 48px;
  justify-content: space-between;
  background-color: #f5f5f7cc;
  align-items: center;
}
.nav_48 {
  display: flex;
  height: 48px;
  width: 48px;
  justify-content: center;
  align-items: center;
}
.nav_end {
  display: flex;
  justify-content: end;
  align-items: end;
}
.text {
  display: none; /*--*/
  height: 73px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "AppleFont", sans-serif;
  src: url(./apple_images/Inter/Inter-VariableFont_opsz\wght.ttf);
  padding: 8px;
}
.text-item {
  color: white;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* border: red solid 2px; */
  font-size: 18px;
}
.text-item-scroll {
  display: none;
  color: white;
  text-align: center;
  justify-content: start;
  gap: 5px;
  align-items: center;
  margin-left: 20px;
}
.rainbow {
  display: none; /*--*/
  background-image: var(--mobile-img);
  width: 100vw;
  height: 70px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  justify-content: center;
}
.gradient-text {
  width: fit-content;
  background-image: linear-gradient(to right, #0090f7, #ba62fc, #f2416b);
  background-clip: text;
  color: transparent;
}
.gray {
  color: #6e6e73;
}
.font-30 {
  font-size: 30px;
  font-weight: 600;
}
.font-44 {
  font-size: 44px;
  font-weight: 600;
}
.font-14 {
  font-size: 14px;
}
.font-24 {
  font-size: 24px;
  font-weight: 600;
}
.left-22 {
  padding-left: 22px;
}
.top-50 {
  padding-top: 50px;
}
.store {
  display: flex;
  justify-content: space-between;
  padding-left: 22px;
  margin-top: 70px;
}
.garchig {
  /* display: flex;
  flex-direction: column; */
  gap: 20px;
}
.hog {
  display: none;
  margin-right: 22px;
}
.find {
  padding-top: 25px;
  padding-left: 22px;
}
.scroll1-item {
  display: grid;
  grid-template-areas:
    "zurag zurag zurag zurag zurag zurag zurag zurag zurag zurag zurag"
    "text text text text text text text text text text text";
  justify-content: center;
  text-align: center;
  row-gap: 16px;
  column-gap: 5px;
  width: fit-content;
  margin-left: 22px;
}
.flex {
  display: flex;
  flex-direction: row;
  /* gap: 20px; */
  border-radius: 18px;
  height: fit-content;
  justify-content: start;
  align-items: center;
  /* margin-top: 24px; */
  margin-left: 12px;
  overflow: hidden;
}
.flex div {
  scroll-snap-align: center;
}
/* .flex div {
  box-shadow: 2px 4px 12px 0px #00000014;
  overflow: hidden;
} */
.card-text {
  font-family: "Inter", sans-serif;
}
.card-orange {
  margin-left: 30px;
  margin-top: 31px;
  color: #b64400;
  font-size: 12px;
  font-weight: 700;
}
.card-orange2 {
  position: absolute;
  left: 28px;
  bottom: 120px;
  color: #b64400;
  font-size: 12px;
  font-weight: 700;
}
.card-name {
  position: absolute;
  top: 54px;
  left: 30px;
  font-size: 21px;
  font-weight: 700;
  color: black;
}
.card-name2 {
  position: absolute;
  top: 390px;
  left: 28px;
  font-size: 18px;
  font-weight: 700;
  color: black;
}
.card-name3 {
  position: absolute;
  top: 65px;
  left: 30px;
  font-size: 22px;
  font-weight: 700;
  color: black;
  max-width: 237px;
}
.card-price {
  position: absolute;
  top: 98px;
  left: 30px;
  font-size: 14px;
  font-weight: 400;
  color: black;
}
.card-price2 {
  position: absolute;
  bottom: 28px;
  left: 28px;
  font-size: 14px;
  font-weight: 400;
  color: black;
}
.white {
  color: white;
}
.gray {
  color: #6e6e73;
}
.black {
  color: black;
}
.button_buy {
  display: flex;
  height: 44px;
  padding: 0 20px;
  border: solid 1px #3a3a3a;
  background: none;
  border-radius: 22px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #3a3a3a;
}
.button_buy:hover {
  background-color: #3a3a3a;
  color: white;
}
.buttons {
  display: flex;
  justify-content: start;
  gap: 15px;
  align-items: center;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 100px;
}
/* ======================================================= */
/* I. MOBILE (Үндсэн тохиргоо: 650px хүртэл) */
/* ======================================================= */

.navigation_items {
  display: none;
}
.m_zurag {
  display: flex;
  background-image: var(--mobile-img);
  width: 309px;
  height: 450px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  justify-content: start;
  border-radius: 18px;
  box-shadow: 5px 5px 10px #cecece, -5px -5px 10px #ffffff;
  position: relative;
  /* box-shadow: 2px 4px 12px 0px #00000014; */
  margin: 10px;
  flex-shrink: 0;
  scroll-snap-align: start;
}
.s_zurag {
  background-color: #ffffff;
  height: 450px;
  width: 313px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  justify-content: center;
  border-radius: 18px;
  box-shadow: 5px 5px 10px #cecece, -5px -5px 10px #ffffff;
  position: relative;
  margin: 10px;
}
.img-230 {
  position: absolute;
  left: 41.5px;
  right: 41.5px;
  top: 26px;
}
.ss-size {
  height: 450px;
  width: 313px;
}
.box {
  width: 285px;
  height: 215px;
  background-color: #ffffff;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  justify-content: start;
  border-radius: 18px;
  box-shadow: 5px 5px 10px #cecece, -5px -5px 10px #ffffff;
  position: relative;
  margin: 10px;
}
.container {
  display: grid;
  grid-template-columns: auto auto;
  height: fit-content;
}

.container div {
  text-align: start;
}

/* ======================================================= */
/* II. TABLET (650px-ээс дээшлэх үед) */
/* ======================================================= */
@media (min-width: 650px) {
  .hi {
    color: #f55be4;
  }
  .garchig {
    display: flex;
    align-items: baseline;
  }
  .find {
    display: none;
  }
  .top {
    padding-top: 50px;
  }
  .m_zurag {
    display: flex;
    background-image: var(--desktop-img);
    width: 480px;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    justify-content: start;
  }
  .s_zurag {
    height: 500px;
  }
  .ss-size {
    height: 500px;
    width: 400px;
  }
  .box {
    width: 313px;
    height: 240px;
  }
  .card-name {
    font-size: 26px;
  }
  .card-name3 {
    top: 81px;
    font-size: 20px;
    max-width: 235px;
  }
  .card-price {
    font-size: 16px;
  }
  .buttons {
    margin-left: 60px;
  }
}

/* ======================================================= */
/* II. DESKTOP (1000px-ээс дээшлэх үед) */
/* ======================================================= */
@media (min-width: 1000px) {
  .hamburger {
    display: none;
  }
  .navigation_items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    max-width: 900px;
    flex-grow: 1;
  }
  .hog {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
  }
  .store {
    padding-left: 60px;
    margin-top: 80px;
  }
  .scroll1-item {
    margin-left: 70px;
  }
  .top {
    padding-top: 65px;
  }
  .left-22 {
    padding-left: 60px;
  }
  .flex {
    margin-left: 50px;
  }
}
/* ;
 */
/* ====================================================== */
@keyframes infiniteScroll {
  0% {
    transform: translateX(0); /* Эхлэлийн байрлал */
  }
  /* Контентийн 50% хүртэл зүүн тийш шилжүүлнэ (давхардсан контенттой тул) */
  100% {
    transform: translateX(-50%);
  }
}
.scroller1 {
  overflow: hidden;
  margin-top: 14px;
  /* margin-left: 22px; */
  padding-right: 22px;
  /* width: fit-content; */
  height: fit-content;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;

  -webkit-overflow-scrolling: touch;
}
.scroller1::-webkit-scrollbar {
  display: none;
}
.m_zurag:hover {
  transition: all 0.3s ease;
  transform: scale(1.01);
}
.s_zurag:hover {
  transition: all 0.3s ease;
  transform: scale(1.01);
}
.scroller__inner1 {
  display: flex;
  flex-direction: row;
  width: max-content; /* Контентээс хамаарч өргөнөө тохируулна */
  gap: 10px; /* Item-уудын хоорондох зай */
  height: fit-content;

  /* Animation-ийг тохируулах: 20 секунд, жигд хурд, тасралтгүй давталт */
  /* animation: infiniteScroll 20s linear infinite; */
}
/* ====================================================== */
.blue {
  color: #0066cc;
  padding-bottom: 10px;
}
.footer {
  display: flex;
  background-color: #f5f5f7cc;
  background-size: fit-content;
  padding: 20px 50px;
  height: fit-content;
  justify-content: center;
  padding-top: 200px;
  color: rgba(0, 0, 0, 0.56);
}
.footer-f {
  max-width: 1200px;
}

.width-197 {
  max-width: 197px;
}
.width-326 {
  max-width: 326px;
}
.width-306 {
  max-width: 306px;
}
