@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: #f5f5f7;
}
head {
  background-color: #f5f5f7;
}
a {
  text-decoration: none;
  color: black;
  padding-left: 10px;
}
a:hover {
  color: grey;
}
.font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.navigation {
  display: flex;
  height: 48px;
  justify-content: space-between;
  background-color: #f5f5f7cc;
  align-items: center;
}
.nav_48 {
  display: flex;
  height: 48px;
  width: 48px;
  justify-content: center;
  align-items: center;
}
.nav_end {
  display: flex;
  justify-content: end;
  align-items: end;
}
.text {
  display: none; /*--*/
  height: 73px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "AppleFont", sans-serif;
  src: url(./apple_images/Inter/Inter-VariableFont_opsz\wght.ttf);
  padding: 8px;
}
.text-item {
  color: white;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* border: red solid 2px; */
  font-size: 18px;
}
.text-item-scroll {
  display: none;
  color: white;
  text-align: center;
  justify-content: start;
  gap: 5px;
  align-items: center;
  margin-left: 20px;
}
.rainbow {
  display: none; /*--*/
  background-image: var(--mobile-img);
  width: 100vw;
  height: 70px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  justify-content: center;
}
/* ======================================================= */
/* I. MOBILE (Үндсэн тохиргоо: 600px хүртэл) */
/* ======================================================= */

.navigation_items {
  display: none;
}

/* ======================================================= */
/* II. TABLET (600px-ээс дээшлэх үед) */
/* ======================================================= */
@media (min-width: 600px) {
}

/* ======================================================= */
/* II. DESKTOP (900px-ээс дээшлэх үед) */
/* ======================================================= */
@media (min-width: 900px) {
  .hamburger {
    display: none;
  }
  .navigation_items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    max-width: 900px;
    flex-grow: 1;
  }
}
/* ====================================================== */
@keyframes infiniteScroll {
  0% {
    transform: translateX(0); /* Эхлэлийн байрлал */
  }
  /* Контентийн 50% хүртэл зүүн тийш шилжүүлнэ (давхардсан контенттой тул) */
  100% {
    transform: translateX(-50%);
  }
}

/* ====================================================== */

.footer {
  display: flex;
  background-color: #f5f5f7cc;
  background-size: fit-content;
  padding: 20px 50px;
  height: fit-content;
  justify-content: center;
  padding-top: 200px;
  color: rgba(0, 0, 0, 0.56);
}
.footer-f {
  max-width: 1200px;
}
