@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: #f5f5f7;
}
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: weight; */
  font-style: normal;
}
head {
  background-color: #f5f5f7;
}
.logo {
  color: black;
  padding-left: 15px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: grey;
}
.font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.navigation {
  display: flex;
  height: 48px;
  justify-content: space-between;
  background-color: #f5f5f7cc;
  align-items: center;
}
.nav_48 {
  display: flex;
  height: 48px;
  width: 48px;
  justify-content: center;
  align-items: center;
}
.nav_end {
  display: flex;
  justify-content: end;
  align-items: end;
}
.text {
  display: none; /*--*/
  height: 73px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "AppleFont", sans-serif;
  src: url(./apple_images/Inter/Inter-VariableFont_opsz\wght.ttf);
  padding: 8px;
}
.text-item {
  color: white;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* border: red solid 2px; */
  font-size: 18px;
}
.text-item-scroll {
  display: none;
  color: white;
  text-align: center;
  justify-content: start;
  gap: 5px;
  align-items: center;
  margin-left: 20px;
}
.rainbow {
  display: none; /*--*/
  background-image: var(--mobile-img);
  width: 100vw;
  height: 70px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  justify-content: center;
}
.gradient-text {
  width: fit-content;
  background-image: linear-gradient(to right, #019ffb, #f55be4, #fd8c1f);
  background-clip: text;
  color: transparent;
}
.gray {
  color: #6e6e73;
}
.font-30 {
  font-size: 30px;
  font-weight: 600;
}
.font-44 {
  font-size: 44px;
  font-weight: 600;
}
.font-14 {
  font-size: 14px;
}
.font-24 {
  font-size: 24px;
  font-weight: 600;
}
.left-22 {
  padding-left: 22px;
}
.top {
  padding-top: 30px;
}
.store {
  display: flex;
  justify-content: space-between;
  padding-left: 22px;
  margin-top: 70px;
}
.garchig {
  /* display: flex;
  flex-direction: column; */
  gap: 20px;
}
.hog {
  display: none;
  margin-right: 22px;
}
.find {
  padding-top: 25px;
  padding-left: 22px;
}
.scroll1-item {
  display: grid;
  grid-template-areas:
    "zurag zurag zurag zurag zurag zurag zurag zurag zurag zurag zurag"
    "text text text text text text text text text text text";
  justify-content: center;
  text-align: center;
  row-gap: 16px;
  column-gap: 5px;
  width: fit-content;
  margin-left: 22px;
}
/* ======================================================= */
/* I. MOBILE (Үндсэн тохиргоо: 600px хүртэл) */
/* ======================================================= */

.navigation_items {
  display: none;
}
.m_zurag {
  display: flex;
  background-image: var(--mobile-img);
  width: 480px;
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  justify-content: center;
}

/* ======================================================= */
/* II. TABLET (600px-ээс дээшлэх үед) */
/* ======================================================= */
@media (min-width: 600px) {
  .hi {
    color: #f55be4;
  }
  .garchig {
    display: flex;
    align-items: baseline;
  }
  .find {
    display: none;
  }
  .top {
    padding-top: 50px;
  }
}

/* ======================================================= */
/* II. DESKTOP (1000px-ээс дээшлэх үед) */
/* ======================================================= */
@media (min-width: 1000px) {
  .hamburger {
    display: none;
  }
  .navigation_items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    max-width: 900px;
    flex-grow: 1;
  }
  .hog {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
  }
  .store {
    padding-left: 60px;
    margin-top: 80px;
  }
  .scroll1-item {
    margin-left: 60px;
  }
  .top {
    padding-top: 65px;
  }
  .left-22 {
    padding-left: 60px;
  }
}
/* ====================================================== */
@keyframes infiniteScroll {
  0% {
    transform: translateX(0); /* Эхлэлийн байрлал */
  }
  /* Контентийн 50% хүртэл зүүн тийш шилжүүлнэ (давхардсан контенттой тул) */
  100% {
    transform: translateX(-50%);
  }
}
.scroller1 {
  overflow: hidden;
  margin-top: 50px;
  /* margin-left: 22px; */
  padding-right: 22px;
  /* width: fit-content; */
}
/* Hover хийхэд animation-ийг зогсооно */
.scroller1:hover .scroller__inner1 {
  animation-play-state: paused;
}
.scroller__inner1 {
  display: flex;
  flex-direction: row;
  width: max-content; /* Контентээс хамаарч өргөнөө тохируулна */
  gap: 10px; /* Item-уудын хоорондох зай */

  /* Animation-ийг тохируулах: 20 секунд, жигд хурд, тасралтгүй давталт */
  /* animation: infiniteScroll 20s linear infinite; */
}
/* ====================================================== */
.blue {
  color: #0066cc;
  padding-bottom: 10px;
}
.footer {
  display: flex;
  background-color: #f5f5f7cc;
  background-size: fit-content;
  padding: 20px 50px;
  height: fit-content;
  justify-content: center;
  padding-top: 200px;
  color: rgba(0, 0, 0, 0.56);
}
.footer-f {
  max-width: 1200px;
}
