@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
.font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.navigation {
  display: flex;
  height: 48px;
  justify-content: space-between;
  background-color: #f5f5f7cc;
}
.nav_48 {
  display: flex;
  height: 48px;
  width: 48px;
  justify-content: center;
  align-items: center;
}
.nav_end {
  display: flex;
  justify-content: end;
  align-items: end;
}
.text {
  display: flex;
  height: 73px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "AppleFont", sans-serif;
  src: url(./apple_images/Inter/Inter-VariableFont_opsz\wght.ttf);
  padding: 8px;
}
.text-item {
  color: white;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* border: red solid 2px; */
  font-size: 18px;
}
.buttons{
  display: flex;
  justify-content: center;
  gap: 15px;
}
.button_lm{
  display: flex;
  height: 44px;
  padding: 0 20px;
  background-color: #0071E3;
  border-radius: 22px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border: none;
  color: white;
}
.button_lm:hover{
  background-color: #3188df;
}
.button_buy{
  display: flex;
  height: 44px;
  padding: 0 20px;
  border: solid 1px #0071E3;
  background: none;
  border-radius: 22px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #0071E3;
}
.button_buy:hover{
  background-color: #0071E3;
  color: white;
}
/* ======================================================= */
/* I. MOBILE (Үндсэн тохиргоо: 600px хүртэл) */
/* ======================================================= */
.m_zurag {
  display: flex;
  background-image: var(--mobile-img);
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  justify-content: center;
}
.text-m-start {
  font-size: 18px;
  justify-content: center;

  margin-bottom: auto;
  margin-top: 28px;
}
.text-m-end {
font-size: 18px;
justify-content: center;
margin-top: auto;
margin-bottom: 28px;
}
.navigation_items{
  display: none;
}
.gift{
  display: none;
}
.airpod2{
  display: none;
}

/* ======================================================= */
/* II. TABLET (600px-ээс дээшлэх үед) */
/* ======================================================= */
@media (min-width: 600px) {
  .m_zurag {
    background-image: var(--tablet-img);
    height: 650px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 5px;
  }
  .text-t-start {
  font-size: 22px;
  justify-content: center;
  margin-bottom: auto;
  margin-top: 28px;
  }
  .text-t-end {
  font-size: 22px;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 28px;
  }
}

/* ======================================================= */
/* II. DESKTOP (900px-ээс дээшлэх үед) */
/* ======================================================= */
@media (min-width: 900px) {
  .m_zurag {
    background-image: var(--desktop-img);
    height: 650px;
    max-width: 1980px;
    margin-left: auto;
    margin-right: auto;
    min-width: 450px;
  }
  .text-d-start {
  font-size: 24px;
  justify-content: center;
  margin-bottom: auto;
  margin-top: 28px;
  }
  .text-d-end {
  font-size: 24px;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 28px;
  }
  .hamburger{
    display: none;
  }
  .navigation_items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    max-width: 900px;
    flex-grow: 1;
  }
  .gift{
    display: flex;
    height: 650px;
    background-image: var(--desktop-img);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    justify-content: center;
    max-width: 1980px;

  }
  .width_50{
    display: flex;
    background-position: center;
    width: 100%;
    justify-content:space-between ;
    margin: 0 5px;
    gap: 5px;
    
  }
  .airpod2{
    display:grid;
  }
  /* .width_50-2{
  
    background-position: center;
    width: 50%;
    
  } */

}
.black{
  color: black;
}
.ba_white{
  background-color: white;
}
.bo_white{
  border-color: white;
  color: white;
}

