@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
.font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: semibold;
}
.navigation {
  display: flex;
  height: 48px;
  justify-content: space-between;
  background-color: #f5f5f7cc;
}
.nav_48 {
  display: flex;
  height: 48px;
  width: 48px;
  justify-content: center;
  align-items: center;
}
.nav_end {
  display: flex;
  justify-content: end;
  align-items: end;
}
.text {
  display: flex;
  height: 73px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "AppleFont", sans-serif;
  src: url(./apple_images/Inter/Inter-VariableFont_opsz\wght.ttf);
  padding: 8px;
}
.text-item {
  color: white;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border: red solid 2px; */
  font-size: 18px;
}
/* ======================================================= */
/* I. MOBILE (Үндсэн тохиргоо: 700px хүртэл) */
/* ======================================================= */
.m_zurag {
  display: flex;
  background-image: var(--mobile-img);
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 5px;
  align-items: end;
  justify-content: center;
}
.text-item {
  font-size: 18px;
  justify-content: end;
  margin-bottom: 28px;
}

/* ======================================================= */
/* II. TABLET (700px-ээс дээшлэх үед) */
/* ======================================================= */
@media (min-width: 600px) {
  .m_zurag {
    background-image: var(--tablet-img);
    height: 650px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    align-items: start;
  }
  .text-item {
    font-size: 22px;
    justify-content: start;
  }
}

/* ======================================================= */
/* II. DESKTOP (900px-ээс дээшлэх үед) */
/* ======================================================= */
@media (min-width: 900px) {
  .m_zurag {
    background-image: var(--desktop-img);
    height: 650px;
    max-width: 1980px;
    margin-left: auto;
    margin-right: auto;
    align-items: start;
  }
  .text-item {
    font-size: 24px;
    justify-content: start;
  }
}
